*,
html,
body {
  padding: 0;
  margin: 0;

}



// https://www.w3schools.com/cssref/css3_pr_background-size.asp

// https://www.mozilla.org/en-US/firefox/developer/

// https://mozilladevelopers.github.io/playground/css-grid/

// download and install it
// background-repeat: repeat-x;


/*<---------Home Page-------->*/

body {
  background-color: black;
  background-image: url(../img/Backgroundv1.png);
  background-size: cover;
}

header h1 {
  color: #a61b34;
  font-family: house-script, sans-serif;
  font-weight: 4em;
  font-style: normal;
  font-size: 5em;
  text-align: center;
  // margin: 5px 5px 150px 0px;
  // align-content: center;
  // display: center;
  // margin-left: auto;
  // margin-right: auto;
}

img#chevron {
  width: 3%;
  // align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img#shaker{
  width: 20%;
  margin-top: auto;
  // align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
footer {
  // background-color: black;
  width: 100%;
  color: white;
  font-family: Helvetica, sans-serif;
}

.socialMedia {
  // position: absolute;
  // right: 10px;
//  margin-right: auto;
float: right;
overflow: auto;
}

/*<---------Recipes Page-------->*/

.recipesBack {
  background-color: black;
  background-image: url(../img/Backgroundv2.png);
  background-size: contain;

}

header img#logo {
  margin: 10px 0px 0px 0px;
  // height: 145px;
  width: 11%;
  background-color: #fff;
  z-index: 1;
  float: Left;
}

header h2 {
  // margin-left: 145px;
  background-color: #fff;
  color: #a61b34;
  font-family: house-script, sans-serif;
  // font-weight: 4em;
  font-style: normal;
  font-size: 5em;
  z-index: 2;
}
.topnav {
  clear: both;
  margin-top: auto;
  overflow: hidden;
  background-image: linear-gradient(black, darkgrey, black);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: Helvetica, sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #a61b34;
  color: white;
}

div.recipe-list {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 150px;
  grid-gap: 1rem;
  background-color: rbga(0, 0, 0, .5);
  margin: 0 auto;
  // make sure the element you want to center has a defined with and then use margin: 0 auto to center
}

div.item {
  // background-color: #fff;
  border: solid #a61b34 3px;
  border-radius: 10px;
  background-image: linear-gradient(130deg, #ddd 50%, #ffffff 100%, #dddddd 50%);
  padding: 2px;
  overflow: auto;

}

div.item h3 {
  font-family: 'house-script', 'sans-serif';
  font-size: 1.5em;
  font-style: normal;
  text-align: center;
  padding: 2px;
}

h5 {
  font-family: Helvetica, sans-serif;
  padding: 1em;
}